body {
  background-color: #eaf6f6;

  font-family: sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h3 {
  color: green;
}

a {
  color: green;

}
a:hover {
  color: black;
}
a:visited {
  color: green;
}
